@model AMS.Models.Email
@{
    ViewBag.Title = "ComposeEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

    <div class="container mt-5">
        <h2 class="mb-3">Compose Email</h2>
        <div class="card">
            <div class="card-body">
                @using (Ajax.BeginForm("SendEmail", "Email", new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "handleSuccess",
                    OnFailure = "handleFailure"
                }, new { id = "emailForm", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                <div class="row">
                    <div class="alert alert-dismissible fade show alert-card alert-success" role="alert" id="successAlertEmail" style="display:none">
                        <strong class="text-capitalize">Success!</strong> <span id="successMessageaddEmail"></span>
                        <button class="btn btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="alert alert-dismissible fade show alert-card alert-danger" role="alert" id="errorAlertEmail" style="display:none">
                        <strong class="text-capitalize">Error!</strong> <span id="errorMessageaddEmail"></span>
                        <button class="btn btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                    <div class="col-md-12 mb-3">
                        <div class="input-group mb-3">
                            @Html.LabelFor(m => m.Recipient, new { @class = "input-group-text" })
                            @Html.TextBoxFor(m => m.Recipient, new { @class = "form-control", placeholder = "Recipient are separated by comma", aria_describedby = "basic-addon1" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Recipient, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="input-group mb-3">
                            @Html.LabelFor(m => m.Subject, new { @class = "input-group-text" })
                            @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", placeholder = "Subject", aria_describedby = "basic-addon2" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Subject, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6 mb-3">
                        <input type="file" class="form-control" id="attachment" name="Attachment" />
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label" for="message">Message:</label>
                        @Html.TextAreaFor(m => m.Message, new { @class = "form-control", rows = "6", required = "required" })
                        @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
                    </div>

                </div>

                    <button type="submit" class="btn btn-primary" id="send">Send</button>
                }
            </div>
        </div>
    </div>

</body>
</html>

@section scripts
{
    <script>
        function handleSuccess(response) {
                // Show success alert
                $('#successMessageaddEmail').text(response.message);
                $('#successAlertEmail').fadeIn();

                event.preventDefault();
              //Form Reset
                $('#emailForm')[0].reset();

                setTimeout(function () {
                    $('#successAlertEmail').fadeOut();
                }, 2000);
           
        }
        function handleFailure() {
            // Show error alert for AJAX failure
            $('#errorMessageaddEmail').text("An Error Occurred While Adding Email");
            $('#errorAlertEmail').fadeIn();

            // Optional: Hide success alert if it's still visible
            $('#successAlertEmail').hide();
            setTimeout(function () {
                $('#errorAlertEmail').fadeOut();
            }, 2000);
        }
    </script>
}