@model AMS.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    bool isLoggedIn = User.Identity.IsAuthenticated;

    if (isLoggedIn)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = null;
    }
}
@if (!isLoggedIn)
{
    <head>
        <link href="~/dist-assets/css/themes/lite-purple.min.css" rel="stylesheet" />
    </head>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        main {
            text-align: center;
        }
        .btn-email-link {
            margin-left: -190px;
        }
    </style>
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Enter your email.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-2">
                <input type="submit" class="btn btn-outline-primary btn-email-link" value="Email Link" />
            </div>
        </div>
    }

</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
